
[*]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = false
insert_final_newline = false
indent_style = space
indent_size = 4

# Microsoft .NET properties
csharp_new_line_before_catch = false
csharp_new_line_before_else = false
csharp_new_line_before_finally = false
csharp_new_line_before_members_in_object_initializers = false
csharp_new_line_before_open_brace = none
csharp_preferred_modifier_order = public, private, protected, internal, file, new, static, abstract, virtual, sealed, readonly, override, extern, unsafe, volatile, async, required:suggestion
csharp_style_prefer_utf8_string_literals = true:suggestion
csharp_style_var_elsewhere = true:suggestion
csharp_style_var_for_built_in_types = true:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion
dotnet_naming_rule.constant_fields_protected__rule.import_to_resharper = True
dotnet_naming_rule.constant_fields_protected__rule.resharper_description = Constant fields (protected)
dotnet_naming_rule.constant_fields_protected__rule.resharper_guid = 0f940c07-ef76-4908-be63-6e6bc416eea4
dotnet_naming_rule.constant_fields_protected__rule.severity = warning
dotnet_naming_rule.constant_fields_protected__rule.style = k_upper_camel_case_style_1
dotnet_naming_rule.constant_fields_protected__rule.symbols = constant_fields_protected__symbols
dotnet_naming_rule.enum_rule.import_to_resharper = True
dotnet_naming_rule.enum_rule.resharper_description = Enum
dotnet_naming_rule.enum_rule.resharper_exclusive_prefixes_suffixes = true
dotnet_naming_rule.enum_rule.resharper_guid = 91687688-1f4e-4100-8003-35e2f871fc9d
dotnet_naming_rule.enum_rule.severity = warning
dotnet_naming_rule.enum_rule.style = e_upper_camel_case_style
dotnet_naming_rule.enum_rule.symbols = enum_symbols
dotnet_naming_rule.instance_fields_protected__rule.import_to_resharper = True
dotnet_naming_rule.instance_fields_protected__rule.resharper_description = Instance fields (protected)
dotnet_naming_rule.instance_fields_protected__rule.resharper_guid = 4fe0b070-6c37-40fa-9808-0eb8d36897ee
dotnet_naming_rule.instance_fields_protected__rule.severity = warning
dotnet_naming_rule.instance_fields_protected__rule.style = m_upper_camel_case_style_1
dotnet_naming_rule.instance_fields_protected__rule.symbols = instance_fields_protected__symbols
dotnet_naming_rule.instance_fields_protected__rule_1.import_to_resharper = True
dotnet_naming_rule.instance_fields_protected__rule_1.resharper_description = Instance fields (protected)
dotnet_naming_rule.instance_fields_protected__rule_1.resharper_guid = 4fe0b070-6c37-40fa-9808-0eb8d36897ee
dotnet_naming_rule.instance_fields_protected__rule_1.severity = warning
dotnet_naming_rule.instance_fields_protected__rule_1.style = m_upper_camel_case_style_1
dotnet_naming_rule.instance_fields_protected__rule_1.symbols = instance_fields_protected__symbols_1
dotnet_naming_rule.instance_fields_protected__rule_2.import_to_resharper = True
dotnet_naming_rule.instance_fields_protected__rule_2.resharper_description = Instance fields (protected)
dotnet_naming_rule.instance_fields_protected__rule_2.resharper_guid = 4fe0b070-6c37-40fa-9808-0eb8d36897ee
dotnet_naming_rule.instance_fields_protected__rule_2.severity = warning
dotnet_naming_rule.instance_fields_protected__rule_2.style = m_upper_camel_case_style_1
dotnet_naming_rule.instance_fields_protected__rule_2.symbols = instance_fields_protected__symbols_2
dotnet_naming_rule.private_constants_rule.import_to_resharper = True
dotnet_naming_rule.private_constants_rule.resharper_description = Constant fields (private)
dotnet_naming_rule.private_constants_rule.resharper_guid = 236f7aa5-7b06-43ca-bf2a-9b31bfcff09a
dotnet_naming_rule.private_constants_rule.severity = warning
dotnet_naming_rule.private_constants_rule.style = k_upper_camel_case_style
dotnet_naming_rule.private_constants_rule.symbols = private_constants_symbols
dotnet_naming_rule.private_instance_fields_rule.import_to_resharper = True
dotnet_naming_rule.private_instance_fields_rule.resharper_description = Instance fields (private)
dotnet_naming_rule.private_instance_fields_rule.resharper_exclusive_prefixes_suffixes = true
dotnet_naming_rule.private_instance_fields_rule.resharper_guid = 4a98fdf6-7d98-4f5a-afeb-ea44ad98c70c
dotnet_naming_rule.private_instance_fields_rule.severity = warning
dotnet_naming_rule.private_instance_fields_rule.style = m_upper_camel_case_style
dotnet_naming_rule.private_instance_fields_rule.symbols = private_instance_fields_symbols
dotnet_naming_rule.private_instance_fields_rule_1.import_to_resharper = True
dotnet_naming_rule.private_instance_fields_rule_1.resharper_description = Instance fields (private)
dotnet_naming_rule.private_instance_fields_rule_1.resharper_exclusive_prefixes_suffixes = true
dotnet_naming_rule.private_instance_fields_rule_1.resharper_guid = 4a98fdf6-7d98-4f5a-afeb-ea44ad98c70c
dotnet_naming_rule.private_instance_fields_rule_1.severity = warning
dotnet_naming_rule.private_instance_fields_rule_1.style = m_upper_camel_case_style
dotnet_naming_rule.private_instance_fields_rule_1.symbols = private_instance_fields_symbols_1
dotnet_naming_rule.private_instance_fields_rule_2.import_to_resharper = True
dotnet_naming_rule.private_instance_fields_rule_2.resharper_description = Instance fields (private)
dotnet_naming_rule.private_instance_fields_rule_2.resharper_exclusive_prefixes_suffixes = true
dotnet_naming_rule.private_instance_fields_rule_2.resharper_guid = 4a98fdf6-7d98-4f5a-afeb-ea44ad98c70c
dotnet_naming_rule.private_instance_fields_rule_2.severity = warning
dotnet_naming_rule.private_instance_fields_rule_2.style = m_upper_camel_case_style
dotnet_naming_rule.private_instance_fields_rule_2.symbols = private_instance_fields_symbols_2
dotnet_naming_rule.private_static_fields_rule.import_to_resharper = True
dotnet_naming_rule.private_static_fields_rule.resharper_description = Static fields (private)
dotnet_naming_rule.private_static_fields_rule.resharper_exclusive_prefixes_suffixes = true
dotnet_naming_rule.private_static_fields_rule.resharper_guid = f9fce829-e6f4-4cb2-80f1-5497c44f51df
dotnet_naming_rule.private_static_fields_rule.severity = warning
dotnet_naming_rule.private_static_fields_rule.style = s_upper_camel_case_style
dotnet_naming_rule.private_static_fields_rule.symbols = private_static_fields_symbols
dotnet_naming_rule.private_static_readonly_rule.import_to_resharper = True
dotnet_naming_rule.private_static_readonly_rule.resharper_description = Static readonly fields (private)
dotnet_naming_rule.private_static_readonly_rule.resharper_guid = 15b5b1f1-457c-4ca6-b278-5615aedc07d3
dotnet_naming_rule.private_static_readonly_rule.severity = warning
dotnet_naming_rule.private_static_readonly_rule.style = s_upper_camel_case_style
dotnet_naming_rule.private_static_readonly_rule.symbols = private_static_readonly_symbols
dotnet_naming_rule.static_fields_protected__rule.import_to_resharper = True
dotnet_naming_rule.static_fields_protected__rule.resharper_description = Static fields (protected)
dotnet_naming_rule.static_fields_protected__rule.resharper_guid = 8b535054-f441-4deb-aae3-5f60780bd4b7
dotnet_naming_rule.static_fields_protected__rule.severity = warning
dotnet_naming_rule.static_fields_protected__rule.style = s_upper_camel_case_style_1
dotnet_naming_rule.static_fields_protected__rule.symbols = static_fields_protected__symbols
dotnet_naming_rule.static_readonly_fields_protected__rule.import_to_resharper = True
dotnet_naming_rule.static_readonly_fields_protected__rule.resharper_description = Static readonly fields (protected)
dotnet_naming_rule.static_readonly_fields_protected__rule.resharper_guid = 83372bf6-1e14-4a3b-b1d5-b98a5a69bc8d
dotnet_naming_rule.static_readonly_fields_protected__rule.severity = warning
dotnet_naming_rule.static_readonly_fields_protected__rule.style = s_upper_camel_case_style_1
dotnet_naming_rule.static_readonly_fields_protected__rule.symbols = static_readonly_fields_protected__symbols
dotnet_naming_rule.unity_serialized_field_not_private__rule.import_to_resharper = True
dotnet_naming_rule.unity_serialized_field_not_private__rule.resharper_description = Unity serialized field (not private)
dotnet_naming_rule.unity_serialized_field_not_private__rule.resharper_guid = 5f0fdb63-c892-4d2c-9324-15c80b22a7ef
dotnet_naming_rule.unity_serialized_field_not_private__rule.severity = warning
dotnet_naming_rule.unity_serialized_field_not_private__rule.style = lower_camel_case_style
dotnet_naming_rule.unity_serialized_field_not_private__rule.symbols = unity_serialized_field_not_private__symbols
dotnet_naming_rule.unity_serialized_field_not_private__rule_1.import_to_resharper = True
dotnet_naming_rule.unity_serialized_field_not_private__rule_1.resharper_description = Unity serialized field (not private)
dotnet_naming_rule.unity_serialized_field_not_private__rule_1.resharper_guid = 5f0fdb63-c892-4d2c-9324-15c80b22a7ef
dotnet_naming_rule.unity_serialized_field_not_private__rule_1.severity = warning
dotnet_naming_rule.unity_serialized_field_not_private__rule_1.style = lower_camel_case_style
dotnet_naming_rule.unity_serialized_field_not_private__rule_1.symbols = unity_serialized_field_not_private__symbols_1
dotnet_naming_rule.unity_serialized_field_not_private__rule_2.import_to_resharper = True
dotnet_naming_rule.unity_serialized_field_not_private__rule_2.resharper_description = Unity serialized field (not private)
dotnet_naming_rule.unity_serialized_field_not_private__rule_2.resharper_guid = 5f0fdb63-c892-4d2c-9324-15c80b22a7ef
dotnet_naming_rule.unity_serialized_field_not_private__rule_2.severity = warning
dotnet_naming_rule.unity_serialized_field_not_private__rule_2.style = lower_camel_case_style
dotnet_naming_rule.unity_serialized_field_not_private__rule_2.symbols = unity_serialized_field_not_private__symbols_2
dotnet_naming_rule.unity_serialized_field_private__rule.import_to_resharper = True
dotnet_naming_rule.unity_serialized_field_private__rule.resharper_description = Unity serialized field (private)
dotnet_naming_rule.unity_serialized_field_private__rule.resharper_guid = 414fff5a-b429-484d-a756-db00db289a32
dotnet_naming_rule.unity_serialized_field_private__rule.severity = warning
dotnet_naming_rule.unity_serialized_field_private__rule.style = m_upper_camel_case_style
dotnet_naming_rule.unity_serialized_field_private__rule.symbols = unity_serialized_field_private__symbols
dotnet_naming_rule.unity_serialized_field_private__rule_1.import_to_resharper = True
dotnet_naming_rule.unity_serialized_field_private__rule_1.resharper_description = Unity serialized field (private)
dotnet_naming_rule.unity_serialized_field_private__rule_1.resharper_guid = 414fff5a-b429-484d-a756-db00db289a32
dotnet_naming_rule.unity_serialized_field_private__rule_1.severity = warning
dotnet_naming_rule.unity_serialized_field_private__rule_1.style = m_upper_camel_case_style
dotnet_naming_rule.unity_serialized_field_private__rule_1.symbols = unity_serialized_field_private__symbols_1
dotnet_naming_rule.unity_serialized_field_private__rule_2.import_to_resharper = True
dotnet_naming_rule.unity_serialized_field_private__rule_2.resharper_description = Unity serialized field (private)
dotnet_naming_rule.unity_serialized_field_private__rule_2.resharper_guid = 414fff5a-b429-484d-a756-db00db289a32
dotnet_naming_rule.unity_serialized_field_private__rule_2.severity = warning
dotnet_naming_rule.unity_serialized_field_private__rule_2.style = m_upper_camel_case_style
dotnet_naming_rule.unity_serialized_field_private__rule_2.symbols = unity_serialized_field_private__symbols_2
dotnet_naming_style.e_upper_camel_case_style.capitalization = pascal_case
dotnet_naming_style.e_upper_camel_case_style.required_prefix = E
dotnet_naming_style.k_upper_camel_case_style.capitalization = pascal_case
dotnet_naming_style.k_upper_camel_case_style.required_prefix = k_
dotnet_naming_style.k_upper_camel_case_style_1.capitalization = pascal_case
dotnet_naming_style.k_upper_camel_case_style_1.required_prefix = k
dotnet_naming_style.lower_camel_case_style.capitalization = camel_case
dotnet_naming_style.m_upper_camel_case_style.capitalization = pascal_case
dotnet_naming_style.m_upper_camel_case_style.required_prefix = m_
dotnet_naming_style.m_upper_camel_case_style_1.capitalization = pascal_case
dotnet_naming_style.m_upper_camel_case_style_1.required_prefix = m
dotnet_naming_style.s_upper_camel_case_style.capitalization = pascal_case
dotnet_naming_style.s_upper_camel_case_style.required_prefix = s_
dotnet_naming_style.s_upper_camel_case_style_1.capitalization = pascal_case
dotnet_naming_style.s_upper_camel_case_style_1.required_prefix = s
dotnet_naming_symbols.constant_fields_protected__symbols.applicable_accessibilities = protected,protected_internal,private_protected
dotnet_naming_symbols.constant_fields_protected__symbols.applicable_kinds = field
dotnet_naming_symbols.constant_fields_protected__symbols.required_modifiers = const
dotnet_naming_symbols.constant_fields_protected__symbols.resharper_applicable_kinds = constant_field
dotnet_naming_symbols.constant_fields_protected__symbols.resharper_required_modifiers = any
dotnet_naming_symbols.enum_symbols.applicable_accessibilities = *
dotnet_naming_symbols.enum_symbols.applicable_kinds = enum
dotnet_naming_symbols.enum_symbols.resharper_applicable_kinds = enum
dotnet_naming_symbols.enum_symbols.resharper_required_modifiers = any
dotnet_naming_symbols.instance_fields_protected__symbols.applicable_accessibilities = protected,protected_internal,private_protected
dotnet_naming_symbols.instance_fields_protected__symbols.applicable_kinds = field
dotnet_naming_symbols.instance_fields_protected__symbols.resharper_applicable_kinds = field,readonly_field
dotnet_naming_symbols.instance_fields_protected__symbols.resharper_required_modifiers = instance
dotnet_naming_symbols.instance_fields_protected__symbols_1.applicable_accessibilities = protected,protected_internal,private_protected
dotnet_naming_symbols.instance_fields_protected__symbols_1.applicable_kinds = field
dotnet_naming_symbols.instance_fields_protected__symbols_1.resharper_applicable_kinds = field,readonly_field
dotnet_naming_symbols.instance_fields_protected__symbols_1.resharper_required_modifiers = instance
dotnet_naming_symbols.instance_fields_protected__symbols_2.applicable_accessibilities = protected,protected_internal,private_protected
dotnet_naming_symbols.instance_fields_protected__symbols_2.applicable_kinds = field
dotnet_naming_symbols.instance_fields_protected__symbols_2.resharper_applicable_kinds = field,readonly_field
dotnet_naming_symbols.instance_fields_protected__symbols_2.resharper_required_modifiers = instance
dotnet_naming_symbols.private_constants_symbols.applicable_accessibilities = private
dotnet_naming_symbols.private_constants_symbols.applicable_kinds = field
dotnet_naming_symbols.private_constants_symbols.required_modifiers = const
dotnet_naming_symbols.private_constants_symbols.resharper_applicable_kinds = constant_field
dotnet_naming_symbols.private_constants_symbols.resharper_required_modifiers = any
dotnet_naming_symbols.private_instance_fields_symbols.applicable_accessibilities = private
dotnet_naming_symbols.private_instance_fields_symbols.applicable_kinds = field
dotnet_naming_symbols.private_instance_fields_symbols.resharper_applicable_kinds = field,readonly_field
dotnet_naming_symbols.private_instance_fields_symbols.resharper_required_modifiers = instance
dotnet_naming_symbols.private_instance_fields_symbols_1.applicable_accessibilities = private
dotnet_naming_symbols.private_instance_fields_symbols_1.applicable_kinds = field
dotnet_naming_symbols.private_instance_fields_symbols_1.resharper_applicable_kinds = field,readonly_field
dotnet_naming_symbols.private_instance_fields_symbols_1.resharper_required_modifiers = instance
dotnet_naming_symbols.private_instance_fields_symbols_2.applicable_accessibilities = private
dotnet_naming_symbols.private_instance_fields_symbols_2.applicable_kinds = field
dotnet_naming_symbols.private_instance_fields_symbols_2.resharper_applicable_kinds = field,readonly_field
dotnet_naming_symbols.private_instance_fields_symbols_2.resharper_required_modifiers = instance
dotnet_naming_symbols.private_static_fields_symbols.applicable_accessibilities = private
dotnet_naming_symbols.private_static_fields_symbols.applicable_kinds = field
dotnet_naming_symbols.private_static_fields_symbols.required_modifiers = static
dotnet_naming_symbols.private_static_fields_symbols.resharper_applicable_kinds = field
dotnet_naming_symbols.private_static_fields_symbols.resharper_required_modifiers = static
dotnet_naming_symbols.private_static_readonly_symbols.applicable_accessibilities = private
dotnet_naming_symbols.private_static_readonly_symbols.applicable_kinds = field
dotnet_naming_symbols.private_static_readonly_symbols.required_modifiers = readonly,static
dotnet_naming_symbols.private_static_readonly_symbols.resharper_applicable_kinds = readonly_field
dotnet_naming_symbols.private_static_readonly_symbols.resharper_required_modifiers = static
dotnet_naming_symbols.static_fields_protected__symbols.applicable_accessibilities = protected,protected_internal,private_protected
dotnet_naming_symbols.static_fields_protected__symbols.applicable_kinds = field
dotnet_naming_symbols.static_fields_protected__symbols.required_modifiers = static
dotnet_naming_symbols.static_fields_protected__symbols.resharper_applicable_kinds = field
dotnet_naming_symbols.static_fields_protected__symbols.resharper_required_modifiers = static
dotnet_naming_symbols.static_readonly_fields_protected__symbols.applicable_accessibilities = protected,protected_internal,private_protected
dotnet_naming_symbols.static_readonly_fields_protected__symbols.applicable_kinds = field
dotnet_naming_symbols.static_readonly_fields_protected__symbols.required_modifiers = readonly,static
dotnet_naming_symbols.static_readonly_fields_protected__symbols.resharper_applicable_kinds = readonly_field
dotnet_naming_symbols.static_readonly_fields_protected__symbols.resharper_required_modifiers = static
dotnet_naming_symbols.unity_serialized_field_not_private__symbols.applicable_accessibilities = public,internal,protected,protected_internal,private_protected
dotnet_naming_symbols.unity_serialized_field_not_private__symbols.applicable_kinds = 
dotnet_naming_symbols.unity_serialized_field_not_private__symbols.resharper_applicable_kinds = unity_serialised_field
dotnet_naming_symbols.unity_serialized_field_not_private__symbols.resharper_required_modifiers = instance
dotnet_naming_symbols.unity_serialized_field_not_private__symbols_1.applicable_accessibilities = public,internal,protected,protected_internal,private_protected
dotnet_naming_symbols.unity_serialized_field_not_private__symbols_1.applicable_kinds = 
dotnet_naming_symbols.unity_serialized_field_not_private__symbols_1.resharper_applicable_kinds = unity_serialised_field
dotnet_naming_symbols.unity_serialized_field_not_private__symbols_1.resharper_required_modifiers = instance
dotnet_naming_symbols.unity_serialized_field_not_private__symbols_2.applicable_accessibilities = public,internal,protected,protected_internal,private_protected
dotnet_naming_symbols.unity_serialized_field_not_private__symbols_2.applicable_kinds = 
dotnet_naming_symbols.unity_serialized_field_not_private__symbols_2.resharper_applicable_kinds = unity_serialised_field
dotnet_naming_symbols.unity_serialized_field_not_private__symbols_2.resharper_required_modifiers = instance
dotnet_naming_symbols.unity_serialized_field_private__symbols.applicable_accessibilities = private
dotnet_naming_symbols.unity_serialized_field_private__symbols.applicable_kinds = 
dotnet_naming_symbols.unity_serialized_field_private__symbols.resharper_applicable_kinds = unity_serialised_field
dotnet_naming_symbols.unity_serialized_field_private__symbols.resharper_required_modifiers = instance
dotnet_naming_symbols.unity_serialized_field_private__symbols_1.applicable_accessibilities = private
dotnet_naming_symbols.unity_serialized_field_private__symbols_1.applicable_kinds = 
dotnet_naming_symbols.unity_serialized_field_private__symbols_1.resharper_applicable_kinds = unity_serialised_field
dotnet_naming_symbols.unity_serialized_field_private__symbols_1.resharper_required_modifiers = instance
dotnet_naming_symbols.unity_serialized_field_private__symbols_2.applicable_accessibilities = private
dotnet_naming_symbols.unity_serialized_field_private__symbols_2.applicable_kinds = 
dotnet_naming_symbols.unity_serialized_field_private__symbols_2.resharper_applicable_kinds = unity_serialised_field
dotnet_naming_symbols.unity_serialized_field_private__symbols_2.resharper_required_modifiers = instance
dotnet_style_parentheses_in_arithmetic_binary_operators = never_if_unnecessary:none
dotnet_style_parentheses_in_other_binary_operators = always_for_clarity:none
dotnet_style_parentheses_in_relational_binary_operators = never_if_unnecessary:none
dotnet_style_predefined_type_for_locals_parameters_members = true:suggestion
dotnet_style_predefined_type_for_member_access = true:suggestion
dotnet_style_qualification_for_event = false:suggestion
dotnet_style_qualification_for_field = false:suggestion
dotnet_style_qualification_for_method = false:suggestion
dotnet_style_qualification_for_property = false:suggestion
dotnet_style_require_accessibility_modifiers = for_non_interface_members:suggestion

# ReSharper properties
resharper_align_linq_query = true
resharper_align_multiline_argument = true
resharper_align_multiline_binary_patterns = true
resharper_align_multiline_calls_chain = true
resharper_align_multiline_extends_list = true
resharper_align_multiline_parameter = true
resharper_align_multiline_type_parameter_constraints = true
resharper_align_multiline_type_parameter_list = true
resharper_align_multiple_declaration = true
resharper_align_tuple_components = true
resharper_apply_auto_detected_rules = false
resharper_autodetect_indent_settings = true
resharper_blank_lines_after_multiline_statements = 1
resharper_blank_lines_after_start_comment = 0
resharper_blank_lines_around_block_case_section = 1
resharper_blank_lines_around_single_line_type = 0
resharper_blank_lines_before_block_statements = 1
resharper_blank_lines_before_multiline_statements = 1
resharper_blank_lines_before_single_line_comment = 1
resharper_cpp_insert_final_newline = true
resharper_csharp_allow_comment_after_lbrace = true
resharper_csharp_blank_lines_around_region = 2
resharper_csharp_empty_block_style = together
resharper_csharp_keep_blank_lines_in_code = 1
resharper_csharp_keep_blank_lines_in_declarations = 1
resharper_csharp_outdent_commas = true
resharper_csharp_stick_comment = false
resharper_csharp_wrap_after_declaration_lpar = true
resharper_csharp_wrap_after_invocation_lpar = true
resharper_csharp_wrap_arguments_style = chop_if_long
resharper_csharp_wrap_before_declaration_rpar = true
resharper_csharp_wrap_before_invocation_rpar = true
resharper_csharp_wrap_extends_list_style = chop_if_long
resharper_csharp_wrap_parameters_style = chop_if_long
resharper_formatter_off_tag = @formatter:off
resharper_formatter_on_tag = @formatter:on
resharper_formatter_tags_enabled = true
resharper_indent_braces_inside_statement_conditions = false
resharper_indent_nested_fixed_stmt = true
resharper_indent_nested_foreach_stmt = true
resharper_indent_nested_for_stmt = true
resharper_indent_nested_lock_stmt = true
resharper_indent_nested_usings_stmt = true
resharper_indent_nested_while_stmt = true
resharper_indent_preprocessor_directives = normal
resharper_indent_preprocessor_other = usual_indent
resharper_keep_existing_embedded_arrangement = false
resharper_keep_existing_expr_member_arrangement = false
resharper_keep_existing_invocation_parens_arrangement = false
resharper_keep_existing_property_patterns_arrangement = false
resharper_keep_existing_switch_expression_arrangement = false
resharper_place_accessorholder_attribute_on_same_line = false
resharper_place_accessor_attribute_on_same_line = false
resharper_place_field_attribute_on_same_line = false
resharper_place_linq_into_on_new_line = false
resharper_place_simple_embedded_statement_on_same_line = false
resharper_show_autodetect_configure_formatting_tip = false
resharper_use_indent_from_vs = false
resharper_wrap_array_initializer_style = chop_if_long
resharper_wrap_before_binary_pattern_op = false
resharper_wrap_before_primary_constructor_declaration_rpar = true
resharper_wrap_chained_binary_expressions = chop_if_long
resharper_wrap_chained_binary_patterns = chop_if_long
resharper_wrap_chained_method_calls = chop_if_long
resharper_wrap_list_pattern = chop_if_long
resharper_wrap_verbatim_interpolated_strings = chop_if_long

# ReSharper inspection severities
resharper_arrange_redundant_parentheses_highlighting = hint
resharper_arrange_this_qualifier_highlighting = hint
resharper_arrange_type_member_modifiers_highlighting = hint
resharper_arrange_type_modifiers_highlighting = hint
resharper_built_in_type_reference_style_for_member_access_highlighting = hint
resharper_built_in_type_reference_style_highlighting = hint
resharper_mvc_action_not_resolved_highlighting = warning
resharper_mvc_area_not_resolved_highlighting = warning
resharper_mvc_controller_not_resolved_highlighting = warning
resharper_mvc_masterpage_not_resolved_highlighting = warning
resharper_mvc_partial_view_not_resolved_highlighting = warning
resharper_mvc_template_not_resolved_highlighting = warning
resharper_mvc_view_component_not_resolved_highlighting = warning
resharper_mvc_view_component_view_not_resolved_highlighting = warning
resharper_mvc_view_not_resolved_highlighting = warning
resharper_razor_assembly_not_resolved_highlighting = warning
resharper_redundant_base_qualifier_highlighting = warning
resharper_suggest_var_or_type_built_in_types_highlighting = hint
resharper_suggest_var_or_type_elsewhere_highlighting = hint
resharper_suggest_var_or_type_simple_types_highlighting = hint
resharper_web_config_module_not_resolved_highlighting = warning
resharper_web_config_type_not_resolved_highlighting = warning
resharper_web_config_wrong_module_highlighting = warning

[{*.yaml,*.yml}]
indent_style = space
indent_size = 2

[{*.bash,*.sh,*.zsh}]
indent_style = space
indent_size = 2

[{*.har,*.jsb2,*.jsb3,*.json,*.jsonc,*.postman_collection,*.postman_collection.json,*.postman_environment,*.postman_environment.json,.babelrc,.eslintrc,.prettierrc,.stylelintrc,.ws-context,jest.config}]
indent_style = space
indent_size = 2

[*.asmdef]
indent_style = space
indent_size = 2

[*.asmref]
indent_style = space
indent_size = 2

[*.{appxmanifest,asax,ascx,aspx,axaml,blockshader,build,c,c++,c++m,cc,ccm,cginc,compute,cp,cpp,cppm,cs,cshtml,cu,cuh,cxx,cxxm,dtd,fs,fsi,fsscript,fsx,fx,fxh,h,h++,hh,hlsl,hlsli,hlslinc,hp,hpp,hxx,icc,inc,inl,ino,ipp,ixx,master,ml,mli,mpp,mq4,mq5,mqh,mxx,nuspec,paml,razor,resw,resx,shader,shaderFoundry,skin,tcc,tpp,urtshader,usf,ush,uxml,vb,xaml,xamlx,xoml,xsd}]
indent_style = space
indent_size = 4
tab_width = 4
